sudo: required
dist: trusty

services:
  - docker

env:
  - FREETZ_CONFIG=type-7490

addons:
  apt:
    sources:
      - debian-sid
    packages:
      - shellcheck
      - docker-ce

before_install:
  - docker info
  - shellcheck --version
install: make build
script:
  - make lint
  - docker run --rm -it -v $PWD/testdata/$FREETZ_CONFIG:/.config mtneug/freetz build trunk --no-menuconfig
